.marquee {
	position: relative;
	padding: $padding-lg 0 $padding-xl 0;
	.stripes {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: white;
		opacity: 0.25;
		border-bottom: 3px solid $black;
		background: repeating-linear-gradient(
			45deg,
			transparent,
			transparent 4px,
			$black 4px,
			$black 8px
	  );
	}
	&--post {
        width: 100%;
        margin: $margin-xl auto;
        position: relative;
        height: 75vh;
        @media all and (max-width: $screen-sm-max) {
            height: auto;
            position: relative;
            padding: $padding-xl 0;
        }
        @media all and (min-width: $screen-lg) {
            width: 80%;
            max-width: 1600px;
        }
        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 100%;
            z-index: 1;
            .left & {
                right: 0;
                left: auto;
            }
            &--photo {
                @extend .background;
                background-size: cover;
                background-position: center;
                @media all and (max-width: $screen-sm-max) {
                    width: 100%;
                }
            }
            &--pattern {
                @extend .background;
                background-color: rgba($black, 0.05);
                width: 100%;
                box-shadow: $default-box-shadow;
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.25;
                    background-color: $white;
                }
            }
        }
        .marquee--text {
            position: absolute;
            right: 0;
            width: 40%;
            height: 100%;
            z-index: 2;
            @media all and (max-width: $screen-sm-max) {
                width: 80%;
                left: 10% !important;
                right: 10% !important;
                position: relative;
            }
            .center & {
                width: 50%;
                left: 25% !important;
                right: 25% !important;
                @media all and (max-width: $screen-sm-max) {
                	width: 80%;
                    left: 10% !important;
                    right: 10% !important;
                }
            }
            .left & {
                right: auto;
                left: 0;
            }
            .content {
                > div {
                    background-color: $white;
                    box-shadow: $default-box-shadow;
                }
                .background {
                	background-color: $white;
                	position: absolute;
                	top: 0;
                	left: 0;
                	width: 100%;
                	height: 100%;
                	z-index: 1;
                	opacity: 0.75;
                }
                .text {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
}